<flow-definition plugin="workflow-job">
  <description>Auto-deploy Vault + Flask</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>
pipeline {
  agent any
  stages {
    stage('Deploy Vault and Web') {
      steps {
        sh 'docker-compose -f docker-compose.yml up --build -d web'
      }
    }
  }
}
    </script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>
